    <div class="col-6" style="padding-bottom: 20px;">
        <h1>Pratos Executivos</h1>
    </div>
    
    <form action="" id="cadastroPratos" class="row g-3 mb-4" onsubmit="return false;">
        <div class="col-md-8">
            <label for="nomePrato" class="form-label">Nome do prato</label>
            <input type="text" class="form-control" id="nomePrato" required>
        </div>
        <div class="col-md-2">
            <label for="pesoPrato" class="form-label">Peso</label>
            <input type="text" class="form-control" id="pesoPrato">
        </div>
        <div class="col-md-2">
            <label for="caloriasPrato" class="form-label">Calorias</label>
            <input type="text" class="form-control" id="caloriasPrato">
        </div>
        <div class="col-md-8">
            <label for="descricaoPrato" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricaoPrato">
        </div>        
        
        <div class="col-md-4">
            <label for="precoPrato" class="form-label">Preço</label>
            <input type="text" class="form-control" id="precoPrato">
        </div>
        <div class="col-md-12">
            <label for="linkImgPrato" class="form-label">Link Imagem</label>
            <input type="text" class="form-control" id="linkImgPrato">
        </div>
        
        <div class="col-8">
            <button type="submit" class="btn btn-primary" >Enviar</button>  
        </div>
    </form>

    <div class="tabelaPratos" style="padding-top: 30px;">
    <h4>Listagem de Pratos Executivos</h4>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome do prato</th>
                <th>Peso</th>
                <th>Descrição</th>
                <th>Calorias</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
         </thead>
        <tbody>

        </tbody>
    </table> 

    
    